<div class="XMT_index_friends">
    <div class="XMT_index_friend_title">
        <div class="XMT_friend_title"><span>友情链接</span></div>
        <div class="order_friend_links"><a class="order_link" href="#" title="友链申请"><span>友链申请</span></a></div>

    </div>
    <div class="XMT_i_link_list">
        <ul class="XMT_i_link_list_ul">
            {{ range $index, $friend := .Site.Data.flinks.IndexLinks }}
            <li class="XMT_i_link_list_li">
                <a class="home_links_item" href="{{ $friend.url | safeURL }}" target="_blank"
                    title="{{ $friend.name }}">
                    <!--<img width="20" height="20" src="{{/* $friend.avatar | safeURL */}}" data-src="{{/* $friend.avatar | safeURL */}}">-->
                    <span class="home_links_item-text">{{ $friend.name }}</span>
                </a>
            </li>
            {{ end }}
        </ul>
    </div>
</div>