<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{- partial "head/meta.html" . -}}
  {{- partial "head/link.html" . -}}
</head>

<body>
  <!-- -->
  {{- $authorc := .Site.Params.author -}}
  <div class="XMT_header">
    <div class="header_internal">
      <div class="XMT_total">
        <nav class="header_internal_nav">
          <div class="header_below">
            <div class="XMT_total">
              <a title="{{ site.Title}}" class="header_internal-logo" href="{{ site.BaseURL}}">
                <img class="Fread_logo" src="{{ $authorc.xmtimg}}" alt="{{ site.Title}}" />
              </a>|
              {{ partial "header.html" . }}
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>



  {{ partial "head/headimg.html" . }}

  <div class="XMT_total XMT_Pjax showInUp">
    <!-- 文章列表 -->
    <div class="XMT_main index">
      <div class="XMT_home">
        <!-- 第一部分，轮播图 -->
        <div></div>
        <!--第二部分，文章列表-->
        <div class="XMT_home_article">
          <div class="XMT_home_article-list">
            {{ block "main" . }}{{ end }}
          </div>
        </div>
      </div>
    </div>
    <!-- 作者info-->
    <div class="XMT_aside">

      {{ partial "aside.html" . }}
    </div>
  </div>

  {{ partial "footer.html" . }}

</body>

</html>