{{ define "main" }}
{{/* .Content */}}




<div class="XMT_home_article">
  <div class="XMT_home_article-list">
{{ $pagessss := .Paginate (.Pages)}}

{{ range $pagessss.Pages}}

<li class="XMT_home_article-si default">
  <a class="thumbnail" href="{{ .RelPermalink }}" title="{{ .LinkTitle }}" rel="noopener noreferrer">
    <img class="ls-is-cached lazyloaded" width="100%" height="100%" alt="{{ .LinkTitle }}" src="/img/ldxuy6iy.png" />
  </a>
  <div class="information">
    <a class="title" href="{{ .RelPermalink }}" title="{{ .LinkTitle }}" rel="noopener noreferrer">{{ .LinkTitle }}</a>

    <a class="abstract" href="{{ .RelPermalink }}" title="文章摘要" rel="noopener noreferrer">
      {{ .Summary }}</a>

    <!--发布日期，阅读量等信息展示-->
    <div class="meta">
      <!-- 文章分类-->
      <div class="last" style="display:flex">
        {{range $pars := .Params.categories}}
        <a class="link" rel="noopener noreferrer" href="/categories/{{ $pars}}">{{ $pars}}</a>&nbsp;&nbsp;&nbsp;
        {{end}}
      </div>



      <ul class="items">
        <li><svg class="icon2" aria-hidden="true">
          </svg>1年前</li>
        <li><svg class="icon2" aria-hidden="true">
          </svg>8,467</li>
        <li><svg class="icon2" aria-hidden="true">
          </svg>12</li>
        <li><svg class="icon2" aria-hidden="true">
          </svg>6</li>
      </ul>



    </div>



  </div>

</li>
{{ end }}
</div>
</div>
<!-- 翻页-->
{{ partial "paginates/paginate.html" .}}

{{ end }}