{{- $footerConfig := .Site.Params.footer -}}
<div class="Fread_footer">
    <div class="Fread_total">
      <div class="item">
        <p>2020 - {{ now.Year }} 版权所有 ©<a href="http://beian.miit.gov.cn/">{{ $footerConfig.icp }}</a></p>
      </div>
      <div class="item">
        <p>已运行 <strong class="Fread_run__day">1070</strong> 天 <strong class="Fread_run__hour">08</strong> 时 <strong
            class="Fread_run__minute">21</strong> 分 <strong class="Fread_run__second">49</strong> 秒</p>
      </div>
    </div>
  </div>

