{{- $asideConfig := .Site.Params.aside -}}

{{ if $asideConfig.date.enable}}

<div class="XMT_aside_item timelife">
    <div class="XMT_aside_item-title"> <svg class="icon2" aria-hidden="true"
            style="margin-right:5px;width:17px;height:17px">
        </svg> <span class="text">人生倒计时</span> <span class="XMT_mac"></span> </div>
    <div class="XMT_aside_item-contain">
        <div class="item">
            <div class="title">
                今日已经过去
                <span class="text">20</span>
                小时
            </div>
            <div class="progress">
                <div class="progress-bar">
                    <div class="progress-bar-inner progress-bar-inner-0" style="width: 86%"></div>
                </div>
                <div class="progress-percentage">86%</div>
            </div>
        </div>
        <div class="item">
            <div class="title">
                这周已经过去
                <span class="text">1</span>
                天
            </div>
            <div class="progress">
                <div class="progress-bar">
                    <div class="progress-bar-inner progress-bar-inner-1" style="width: 14%"></div>
                </div>
                <div class="progress-percentage">14%</div>
            </div>
        </div>
        <div class="item">
            <div class="title">
                本月已经过去
                <span class="text">8</span>
                天
            </div>
            <div class="progress">
                <div class="progress-bar">
                    <div class="progress-bar-inner progress-bar-inner-2" style="width: 26%"></div>
                </div>
                <div class="progress-percentage">26%</div>
            </div>
        </div>
        <div class="item">
            <div class="title">
                今年已经过去
                <span class="text">4</span>
                个月
            </div>
            <div class="progress">
                <div class="progress-bar">
                    <div class="progress-bar-inner progress-bar-inner-3" style="width: 33%"></div>
                </div>
                <div class="progress-percentage">33%</div>
            </div>
        </div>
    </div>
</div>
{{end}}