{{- $tagsConfig := .Site.Params.aside.tags -}}
{{ if $tagsConfig.enable}}
<div class="XMT_aside_item tags">
  <div class="XMT_aside_item-title"> <svg class="icon2" aria-hidden="true"
      style="margin-right:5px;width:17px;height:17px">
    </svg> <span class="text">标签云</span> <span class="XMT_mac"></span> 
  </div>
  <div class="XMT_aside_item-contain" style="padding:10px">
    <div class="tag">
    </div>
    <ul class="cloud" id='holder'></ul>
  </div>
</div>
{{ end}}



{{/* range $_, $taxonomy := .Site.Taxonomies.categories */}}
<!--    <li>
  <a href="{{/* .Page.Permalink /*}}">{{/*.Page.Title*/}}
    <small>
      ({{/* $taxonomy.Count */}})</small>
  </a>
</li>-->
{{/* end */}}