/* 分割顶部 */
.Fread_slid .header_internal .Fread_total .Fread_action_item svg{fill:var(--routine) !important}
.Fread_action{display:none}
.header_internal.Fread_total.Fread_action{position:fixed;bottom:90px;right:30px;z-index:333}
@media (max-width:768px){
html .showInUp{-webkit-animation:0;animation:0}
html .Fread_slid .header_internal-searchicon{fill:var(--routine) !important}
html .header_internal-searchicon{fill:var(--routine) !important}
html[data-night='night'] .header_search{border-top:1px solid rgba(132,132,132,0.39)  !important}
.header_internal .Fread_total .Fread_action_item{display:none}
.Fread_action{display:block}}
.Fread_search_inner{display:grid;grid-template-columns:repeat(2,1fr)}
.header_search{display:flex;align-items:center}
.Fread_search_inner .Fread_label{padding:0px 0px 0 10px}
.Fread_search_inner .Fread_ranking{padding:0px 0px 0 10px}
.header_search .result{width:100%}
.header_search .result .item{height:40px;line-height:40px;border-bottom:1px solid var(--classC);align-items:center;overflow:hidden;padding:0px 10px 0 10px;display:grid;grid-template-columns:25px auto 80px}
.header_search_all .Fread_ranking .title{padding-inline-start:10px}
.header_search .result .item:nth-child(1) .sort{background:#fe2d46}
.header_search .result .item:nth-child(2) .sort{background:#f60}
.header_search .result .item:nth-child(3) .sort{background:#faa90e}
.header_search .result .item .sort{color:#fff;background:#7f7f8c;width:18px;height:18px;line-height:18px;border-radius:2px;text-align:center;margin-right:8px;font-weight:500}
.header_search .result .item .text{flex:1;min-width:0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:var(--routine)}
.header_search .result .item .views{color:var(--minor);font-size:13px;text-align:right;margin-left:5px}
.header_search_all .cloud .item a:hover{transition:.15s ease-out;background:#000 !important;border-radius:2px}
.header_search .result .item:hover{background:var(--classD);border-radius:2px 2px 2px 2px}
.Fread_label .search input:focus{background:var(--background);border-color:var(--minor)}
.header_search_all .submit:hover,.open>.dropdown-toggle.submit{color:#fff;background-color:#449d44;border-color:#398439}
@media (max-width:992px){.Fread_search_inner .Fread_ranking{display:none}
.Fread_total .Fread_search_inner{grid-template-columns:repeat(1,1fr)}
.Fread_search_inner .Fread_label{padding:0}}
#jl_viewHistory ul{margin:15px 0 0 0}
#jl_viewHistory ul li{margin:12px 0px 12px 2px}
#jl_viewHistory ul li a{color:var(--routine)}
#jl_viewHistory ul li a:hover{color:var(--theme)}
.header_below-sign{margin-left:auto}
.header_below-sign .Fread_assort_link{display:flex;align-items:center;height:45px;color:var(--minor);cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;transition:color 0.35s}
.header_below-sign .Fread_assort_link .icon{fill:var(--minor);margin-right:3px;transition:fill 0.35s}
.header_below-sign .Fread_assort_link:hover{color:var(--theme)}
.header_below-sign .Fread_assort_link:hover .icon{fill:var(--theme)}
.header_below-sign .Fread_assort_si{width:110px;text-align:center}
.header_below-sign .Fread_assort_si a{display:block;height:34px;line-height:34px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:var(--minor);transition:color 0.35s, background 0.35s}
.header_below-sign .Fread_assort_si a:hover,
.header_below-sign .Fread_assort_si a.active{color:var(--theme);background:var(--classD)}
.header_below-sign .item{display:flex;align-items:center;height:45px;color:var(--minor)}
.header_below-sign .item .icon{fill:var(--minor);margin-right:5px}
.header_below-sign .item a{color:var(--minor);transition:color 0.25s}
.header_below-sign .item a:hover{color:var(--theme)}
.header_below-sign .item .split{margin:0 5px}
#scroll-down{position:absolute;z-index:10;bottom:8vh;cursor:pointer}
.scroll-down-effects{position:relative;width:100%;color:red;text-align:center;text-shadow:2px 2px 4px rgba(0,0,0,.15);font-size:30px;line-height:1.5;-webkit-animation:scroll-down-effect 1.5s infinite;-moz-animation:scroll-down-effect 1.5s infinite;-o-animation:scroll-down-effect 1.5s infinite;-ms-animation:scroll-down-effect 1.5s infinite;animation:scroll-down-effect 1.5s infinite}
@-moz-keyframes scroll-down-effect{0%{top:0;opacity:.4}
50%{top:-16px;opacity:1;-ms-filter:none;filter:none}
to{top:0;opacity:.4}
}
@-webkit-keyframes scroll-down-effect{0%{top:0;opacity:.4}
50%{top:-16px;opacity:1;-ms-filter:none;filter:none}
to{top:0;opacity:.4}
}


/* 分割美化 */
.author a:hover{color:var(--theme) !important}
.header_search_all .cloud .item:hover{transition:.35s;opacity:1;border-radius:2px;animation:index-link-active 1s cubic-bezier(0.315,0.605,0.375,0.925) forwards}
.Fread_top_img{position:relative;width:100%;display:flex;margin-top:-60px;justify-content:center;align-items:center;flex-direction:column;height:calc(50vh);padding-bottom:0px;}
.Fread_top_img.minImg{max-width:83rem;height:25rem;margin:auto}
.Fread_top_img.minImg .infomation .desctitle{font-size:1.5rem}
.Fread_top_img .infomation{position:absolute;margin-top: 1rem;}
.Fread_top_img .infomation .title{font-size:2.2rem;font-weight:700;color:#fff;text-align:center;text-shadow:0 .1875rem .3125rem #1c1f21;padding:0 10px;letter-spacing:.25rem}
.Fread_top_img .infomation .desctitle{display:flex;align-items:center;justify-content:center;text-align:center;color:#fff;font-size:16px;padding:0 1rem;text-shadow:0 .1875rem .3125rem #1c1f21;margin-top:1.2rem;letter-spacing:.05rem}
.Fread_top_img .Fread_top_img_bottom{width:100%;position:absolute;left:0;bottom:0}
.Fread_top_img .Fread_top_img_bottom .waves-svg{width:100%;height:3rem}
.Fread_top_img .Fread_top_img_bottom .waves-svg .parallax>use{-webkit-animation:move-forever 25s cubic-bezier(0.55,0.5,0.45,0.5) infinite;animation:move-forever 25s cubic-bezier(0.55,0.5,0.45,0.5) infinite}
.Fread_top_img .Fread_top_img_bottom .waves-svg .parallax>use:first-child{-webkit-animation-delay:-2s;animation-delay:-2s;-webkit-animation-duration:7s;animation-duration:7s;fill:var(--background);opacity:.9}
.Fread_top_img .Fread_top_img_bottom .waves-svg .parallax>use:nth-child(2){-webkit-animation-delay:-3s;animation-delay:-3s;-webkit-animation-duration:10s;animation-duration:10s;fill:var(--background);opacity:.8}
.Fread_top_img .Fread_top_img_bottom .waves-svg .parallax>use:nth-child(3){-webkit-animation-delay:-4s;animation-delay:-4s;-webkit-animation-duration:13s;animation-duration:13s;fill:var(--background);opacity:.9}
.Fread_top_img .Fread_top_img_bottom .waves-svg .parallax>use:nth-child(4){-webkit-animation-delay:-5s;animation-delay:-5s;-webkit-animation-duration:20s;animation-duration:20s;fill:var(--background)}
@-webkit-keyframes move-forever{0%{transform:translate3d(-90px,0,0)}
to{transform:translate3d(85px,0,0)}}
@keyframes move-forever{0%{transform:translate3d(-90px,0,0)}
to{transform:translate3d(85px,0,0)}}
.Fread_top_img:before{content:"";position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.15)}
.Fread_top_yy::after{content: '';width:100%;height:3rem;position:absolute;bottom:0;left:0;background:linear-gradient(180deg, transparent, #f0f0f0)}
html[data-night='night'] .Fread_top_yy::after{background:linear-gradient(180deg, transparent, #121212)}
@media(max-width:768px){
.Fread_top_img.top_img_post{height: 20rem !important;}
.Fread_top_img .dz{display:none}
.Fread_top_img.minImg{width:100%;height:15rem}
.Fread_top_img .infomation .title{font-size: 1.3rem !important;letter-spacing:1px !important;}
.Fread_top_img .infomation .desctitle{font-size: 0.875rem !important;}
.Fread_top_img .Fread_top_img_bottom .waves-svg{height:3rem}}
.xccx_mac{content:" ";position:absolute;-webkit-border-radius:50%;border-radius:50%;background:#fc625d !important;width:11px;height:11px;-webkit-box-shadow:20px 0 #fdbc40,40px 0 #35cd4b;box-shadow:20px 0 #fdbc40,40px 0 #35cd4b;float:right;right:55px;top:17px}
#Loadanimation{background-color:var(--background);height:100%;width:100%;backdrop-filter:blur(1px);position:fixed;z-index:1;margin-top:0px;top:0px}
#Loadanimation-center{position:absolute;left:50%;top:50%;height:200px;width:200px;margin-top:-100px;margin-left:-100px}
.xccx_object{-moz-border-radius:50% 50% 50% 50%;-webkit-border-radius:50% 50% 50% 50%;border-radius:50% 50% 50% 50%;position:absolute;border-left:5px solid #87CEFA;border-right:5px solid #FFC0CB;border-top:5px solid transparent;border-bottom:5px solid transparent;-webkit-animation:animate 2.5s infinite;animation:animate 2.5s infinite}
#xccx_one{left:75px;top:75px;width:50px;height:50px}
#xccx_two{left:65px;top:65px;width:70px;height:70px;-webkit-animation-delay:0.1s;animation-delay:0.1s}
#xccx_three{left:55px;top:55px;width:90px;height:90px;-webkit-animation-delay:0.2s;animation-delay:0.2s}
#xccx_four{left:45px;top:45px;width:110px;height:110px;-webkit-animation-delay:0.35s;animation-delay:0.35s}
@-webkit-keyframes animate{50%{-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg)}
100%{-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}}
@keyframes animate{50%{-ms-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg)}
100%{-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}}
#www_xccx_cc{display:block;position:fixed;margin:0;padding:0;border:0;outline:0;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:1}


.Fread_header.active .header_below{border-top:none}
.header_below-sign .Fread_assort_link{display:flex;align-items:center;height:45px;color:var(--minor);cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;transition:color 0.35s}
.Fread_footer .Fread_total p{padding:0 0 8px}
.Fread_footer .Fread_total a{padding:0 0 8px}
.list .Fread_input:focus ~ .Fread_pointout{display:block !important}
.list .Fread_pointout{width:auto;font-size:13px;padding:8px 10px;background-color:#555;color:#fff;text-align:center;border-radius:6px;position:absolute;z-index:1;bottom:120%;left:80%;letter-spacing:0.05em}
.list .Fread_pointout:after{content:"";position:absolute;top:100%;left:50%;margin-left:-5px;border-width:5px;border-style:solid;border-color:#555 transparent transparent}
.autlv{font-size:13px;color:#fff;background:var(--theme);border-radius:2px;padding:0 5px;margin-left:5px;white-space:nowrap}
.action .item .support::before{padding-right:3px;align-items:center;color:var(--minor)}
.handle .action .item .support{font-size:15px;display:flex;align-items:center;margin-bottom:4px;color:var(--minor)}
.Fread_comment_Freadoff{left:0;top:0;text-align:center;width:100%;height:100%;justify-content:center;align-items:center;z-index:996;letter-spacing:.1em}
.Fread_comment_Freadlogin{margin-top:25px;margin-bottom:25px;color:var(--main);font-size:16px}
.Fread_comment_Freadoff a{background:var(--theme);color:#fff;padding:6px 15px;border-radius:4px;font-size:14px}
.Fread_comment_Freadoff .Fread_comment_Freadbottom{width:100%;padding:20px 0;display:flex;align-items:center;justify-content:center;color:var(--routine);font-size:12px;margin-top:10px}
.Fread_comment_Freadbottom::after,.Fread_comment_Freadbottom::before{content:"";background:var(--classC);max-width:20%;height:1px;margin:0 1em;flex:1}
.Fread_comment_Freadbottom::after,.Fread_comment_Freadbottom::before{content:"";background:var(--classC);max-width:20%;height:1px;margin:0 1em;flex:1}
.Fread_aside_item-contain .cloud{display:flex;flex-wrap:wrap}
.Fread_aside_item-contain .cloud .item{padding:5px}
.Fread_aside_item-contain .cloud .item a{color:#fff;padding:3px 6px 3px 6px;font-size:13px;border-radius:2px;}
.Fread_aside_item-contain .cloud .item a:hover{transition:.35s ease-out;background: #000 !important;border-radius:2px}
.typecho-login input{font-size:13px;color:#444;margin-bottom:.5rem;outline:0;flex:1;border:1px solid var(--classB);color:var(--routine);background:var(--classD)}
.typecho-login input:focus{box-shadow:0 0 0 .1rem var(--theme)}
.typecho-login input[type=text],input[type=email],input[type=password],textarea{padding:7px;border-radius:2px;box-sizing:border-box;width:100%}
.typecho-login{padding:30px 40px 30px;width:350px;text-align:center;background:var(--top);border-radius:var(--radius-wrap);box-shadow:var(--box-shadow)}
.typecho-login h2{margin:0 0 1em;color:var(--main);font-weight:700}
.typecho-login p{margin-block-end:1em}
.typecho-login .sr-only{border:0;height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.typecho-login .w-100{width:100%}
.typecho-login-wrap{display:table;margin:0 auto;height:10%;padding-top:200px}
.typecho-login .btn-l{height:35px;font-size:15px;font-weight:700}
.typecho-login .primary{border:none;background-color:var(--theme);cursor:pointer;border-radius:2px;color:#fff}
.typecho-login .primary:hover{transition-duration:.4s;background-color:#5f97ef}
.typecho-login .primary.active,.primary:active{background-color:#3796f6ad}
.typecho-login .primary:disabled{background-color:#508cab;cursor:default}
#goodcover{display:none;position:fixed;top:0;left:0;width:100%;z-index:1001;-moz-opacity:.8;opacity:.7}
#code{padding:10px;background-size:cover;background-repeat:no-repeat;background-position:50% 50%;z-index:1002;display:none}
#ClickMe svg{fill: var(--routine);position:relative}
@media (max-width: 768px){#ClickMe {display: none;}}

.Fread_reads_agree .Fread_tabs {width:100%;overflow:hidden;background:0;box-shadow:0 0 black;border:0;border-radius:0}
.Fread_reads_agree .Fread_tabs__head {background:0}
.Fread_reads_agree .Fread_tabs__head-item {display:flex;justify-content:center;width:100%;font-size:15px;font-weight:700}
.Fread_reads_agree .Fread_tabs__body-item {padding:10px}
.typecho-loginzan{padding:30px 10px 10px;width:100%;text-align:center;background:var(--top);border-radius:var(--radius-wrap);box-shadow:var(--box-shadow)}
#goodcoverzan{display:none;position:fixed;top:0;left:0;width:100%;z-index:1001;-moz-opacity:.8;opacity:.7}
#codezan{position:absolute !important;padding:10px;background-size:cover;background-repeat:no-repeat;background-position:50% 50%;z-index:10;display:none}
#ClickMezan svg{fill: var(--routine);position:relative}


/* 友链分割 */
.Fread_reads_friends-item .xccx_img{}
.Fread_reads_friends-item .xccx_url{background:var(--main);transition:.35s;border-radius:var(--radius-wrap);padding:15px;box-shadow:var(--box-shadow);margin-bottom:15px;border-bottom:0px solid var(--classC)}
.Fread_reads_friends-item .xccx_img .avatar{float:left;width:40px;height:40px;object-fit:cover;border-radius:50%;margin-right:1rem!important;margin-left:0!important}
.Fread_reads_friends-item .name .xccx-name{font-size:14px;line-height:25px;color:var(--main);display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden}
.Fread_reads_friends-item .desc .xccx-desc{font-size:12px;color:var(--minor);line-height:15px;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden}
.Fread_reads_friends{display:grid;grid-template-columns:repeat(auto-fill, minmax(260px, 1fr));gap:15px;margin-bottom:15px}
.Fread_reads_friends-item .contain{display:block;border-radius:var(--radius-inner);overflow:hidden;padding:15px;color:#fff;word-break:break-word;transition:box-shadow 0.35s,-webkit-transform 0.35s;transition:transform 0.35s,box-shadow 0.35s;transition:transform 0.35s,box-shadow 0.35s,-webkit-transform 0.35s;}
.Fread_reads_friends-item .contain:hover{-webkit-transform:translateY(-5px) scale(1.025);transform:translateY(-5px) scale(1.025);box-shadow:0 34px 20px -24px rgba(136,161,206,0.3)}
.Fread_reads_friends-item .contain .title{position:relative}
.Fread_reads_friends-item .contain .title::after{content:'';position:absolute;bottom:-5px;left:0;width:100%;height:1px;background:#fff}
.Fread_reads_friends-item .contain .content{display:flex;justify-content:space-between;align-items:center;margin-top:15px}
.Fread_reads_friends-item .contain .content .desc{margin-right:10px;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;overflow:hidden}
.Fread_reads_friends-item .contain .content .avatar{width:40px;height:40px;min-width:40px;min-height:40px;border-radius:50%;-o-object-fit:cover;object-fit:cover;border:2px solid #00000033}
.xccx-friends .sub-text{word-break:break-all;display:-webkit-box;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden;text-overflow:ellipsis}
.xccx-f-left .f-avatar .avatar{width:100%;height:100%;border-radius:50%;margin:0;object-fit:cover}
.xccx-friends .xccx-f-left{width:100px;min-width:100px;display:flex;align-items:center;justify-content:center;transition:all 0.5s ease-in-out;margin:0 0 0 -15px}
.xccx-friends .xccx-f-left .f-avatar{width:50px;height:50px;box-sizing:border-box;padding:1px;border-radius:50%;overflow:hidden;border:rgba(255,255,255,.4) 2px solid;transition:all 0.5s ease-in-out}
.xccx-friends .xccx-f-right{flex-grow:1;display:flex;flex-direction:column;align-items:center;justify-content:center;box-sizing:border-box}
.xccx-friends .Fread_reads_friends-item .contain{border-radius: 5px;padding:20px 15px;border-radius: var(--radius-inner);}
.xccx-friends .Fread_reads_friends-item .contain .title::after{display:none}
.xccx-friends .title{max-width:100%;min-width:100%;display:flex;align-items:center;justify-content:center;font-size:15px}
.xccx-friends .title .icon{width:1em;min-width:1em;height:1em;min-height:1em;fill:currentColor;overflow:hidden;font-size:20px;margin-left:3px}
.xccx-friends .content{margin-top:10px !important;font-size:0.9em}
.xccx-friends .Fread_reads_friends-item .contain .content .desc{-webkit-line-clamp:1;margin-right:0px}
.xccx-friends .contain{display:flex;align-items:center;position:relative;transition:background-color 0.1s ease-in-out,border 0.2s ease-in-out;border:0px solid transparent}
.xccx-friends .contain:hover{transform:none;box-shadow:0px 0px 20px -5px rgb(158 158 158 / 20%);border-color:var(--background)}
.xccx-friends .contain::before{content:"";position:absolute;left:0;top:0;bottom:0;right:0;z-index:-1;transform:scale(0);transition:all 0.5s ease-in-out;transform-origin:right bottom;border-bottom-left-radius:12px}
.xccx-friends .contain:hover .title,.xccx-friends .contain:hover .content{color:#ffffff !important}
.xccx-friends .contain:hover .title .icon{display:none}
.xccx-friends .contain:hover .xccx-f-left{margin-left:-200px}
.xccx-friends .contain:hover .xccx-f-right{padding-left:100px}
.xccx-friends .contain:hover .f-avatar{transform:rotateZ(-360deg)}
@media (max-width:768px){
.Fread_Friends {grid-template-columns:repeat(2, 1fr) !important}
.xccx-friends .contain{border-color:var(--background)}
}.xccx-friends .contain:hover{border-color:var(--background);box-shadow:0px 0px 20px -5px rgb(158 158 158 / 20%)}
.Fread_Friends{display:block;display:grid;grid-template-columns:repeat(auto-fill, minmax(200px, 1fr));gap:15px;margin-bottom:15px}
.Fread_Friends ul a{display:flex;background:var(--classD);position:relative;border-radius:var(--radius-wrap);overflow:hidden;letter-spacing:0;flex-direction:column;justify-content:center;border:1px solid rgb(189 189 189 / 25%)}
.Fread_Friends ul a:active{scale:.98}
.Fread_Friends ul a:hover{background:rgb(var(--classD) / 70%);color:white;box-shadow:0 1.2rem 1rem -1rem rgb(var(--classD) / .2)}
.Fread_Friends ul a:hover:before{left:1rem;opacity:1}
.Fread_Friends ul .Fread_items_all{padding:15px;padding-top:22px;padding-bottom:20px;position:relative;text-align:center;transition:all .5s}
.Fread_Friends ul a:hover .Fread_items_all{filter:blur(20px) opacity(0);transform:scale(0.5)}
.Fread_Friends ul .avatar{height:50px;width:50px;border-radius:50%;border:2px solid #eaeaea5e;transition:all .5s;padding:1px;box-shadow:0 0 15px 0px rgb(0 0 0 / 10%);object-fit:cover}
.Fread_Friends ul .Fread_linkbg{width:100%;height:100%;transition:all .5s;filter:opacity(.15) blur(30px) saturate(1.8);top:0;object-fit:cover;object-position:top;position:absolute;transform:scale(1.1)}
.Fread_Friends ul a:hover .Fread_linkbg{filter:opacity(0.95) blur(0);transform:scale(1)}
.Fread_items_name,.Fread_items_desc{color:#eee;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1;text-transform:capitalize;padding-top:10px;font-size:15px}
.Fread_items_desc{font-size:13px;color:#ddd}
@media (max-width:767px){
.Fread_Friends ul .Fread_items_all{padding:.5rem;filter:none !important;transform:none !important}
.Fread_Friends ul .Fread_linkbg{margin:0 0 -1.5rem;position:relative;filter:opacity(2) blur(0) saturate(1);aspect-ratio:5 / 3;border-radius:0 0 250px 250px / 0 0 50px 50px}
.Fread_Friends ul .avatar{height:45px;width:45px}
.Fread_Friends ul a:hover:before{left:.5rem;top:.5rem}
.Fread_Friends ul .Fread_items_all{padding-bottom:15px}
}
.Fread_reads_Toolbox{display:grid;grid-template-columns:repeat(auto-fill, minmax(260px, 1fr));gap:15px;margin-bottom:50px;padding-top:15px}
.xccx_Toolbox_title{display:flex;align-items:center}
.xccx_Toolbox .Fread_reads_friends-item .contain{background:var(--Toolbox);}
.xccx_Toolbox .Fread_reads_friends-item .contain:hover{opacity:1;border-radius:4px;transform:translateY(0px);box-shadow:0px 0px 5px 2px rgba(150,150,150,0.89);animation:index-link-active 1s cubic-bezier(0.315,0.605,0.375,0.925) forwards}
.xccx_Toolbox_title .iconfont{margin-right:5px;font-size:20px}
.xccx_Toolbox_title .title{font-size:16px;color:var(--main)}


/* 文章分割 */
.Fread_bread{margin-bottom:15px;padding-bottom:15px;border-bottom:1px solid var(--classB)}
.Fread_bread_bread{display:flex;font-size:15px;align-items:center}
.Fread_bread_bread .line{padding:0 8px;color:var(--minor)}
.Fread_bread_bread .item{color:var(--theme);white-space:nowrap}
.Fread_bread_bread .item .link{color:var(--routine);transition:color .35s}
.Fread_bread_bread .item .link:hover{color:var(--theme)}
.Fread_bread_bread .item .icon{margin-right:2px;width:18px;height:18px;min-width:18px;min-height:18px;fill:var(--routine)}
.Fread_bread_bread .item:first-child{display:flex;align-items:center}
@-webkit-keyframes pulse{0%{box-shadow:0 0 0 0 var(--theme)}}
@keyframes pulse{0%{box-shadow:0 0 0 0 var(--theme)}}



/* 站点归档 */
.Fread_census__basic{margin-bottom:20px;gap:20px}
.Fread_census__basic-item.list{gap:15px;display: grid;grid-template-columns: repeat(2,1fr);}
.Fread_census__basic-item.list .list{display:flex;padding:15px 15px 12px;border-radius:var(--radius-inner) var(--radius-wrap) var(--radius-wrap) var(--radius-inner);background:var(--background);box-shadow:var(--box-shadow);align-items:center;justify-content:space-between}
.Fread_census__basic-item.list .list .count{display:flex;height:100%;flex-direction:column;justify-content:space-between}
.Fread_census__basic-item.list .list .count h6{margin-bottom:10px;color:var(--seat);font-size:12px}
.Fread_census__basic-item.list .list .count p{font-weight:700;font-size:28px}
.Fread_census__basic-item.list .list .icon{fill:var(--classA)}
.Fread_census__basic-item.list .list:first-child{border-left:5px solid #1cc88a;color:#1cc88a}
.Fread_census__basic-item.list .list:nth-child(2){border-left:5px solid #36b9cc;color:#36b9cc}
.Fread_census__basic-item.list .list:nth-child(3){border-left:5px solid #2196f3;color:#2196f3}
.Fread_census__basic-item.list .list:nth-child(4){border-left:5px solid #9c27b0;color:#9c27b0}
.Fread_census__filing{border-radius:var(--radius-wrap);background:var(--background);box-shadow:var(--box-shadow)}
.Fread_census__filing .title{display:flex;padding:0 12px;height:45px;border-bottom:1px solid var(--classC);color:var(--main);align-items:center;justify-content:space-between;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.Fread_census__filing .content{padding:15px}
.Fread_census__filing .content .item{position:relative}
.Fread_census__filing .content .item:last-child .wrapper{padding-bottom:0}
.Fread_census__filing .content .item .head{position:absolute;top:14px;width:13px;height:13px;border-radius:50%;background:var(--classC)}
.Fread_census__filing .content .item .tail{position:absolute;top:0;left:6px;width:1px;height:100%;background:var(--classC)}
.Fread_census__filing .content .item .wrapper{padding-bottom:15px;padding-left:30px}
.Fread_census__filing .content .item .wrapper .panel{position:relative;display:flex;padding:10px;height:40px;border-radius:4px;background:var(--classD);color:var(--routine);cursor:pointer;align-items:center;justify-content:space-between}
.Fread_census__filing .content .item .wrapper .panel svg{width:10px;height:10px;transition:-webkit-transform .25s;transition:transform .25s;transition:transform .25s,-webkit-transform .25s;-webkit-transform:rotate(180deg);transform:rotate(180deg);fill:var(--minor)}
.Fread_census__filing .content .item .wrapper .panel.in svg{-webkit-transform:rotate(90deg);transform:rotate(90deg)}
.Fread_census__filing .content .item .wrapper .panel:before{position:absolute;top:50%;left:-8px;width:0;height:0;border-top:8px solid transparent;border-right:8px solid var(--classD);border-bottom:8px solid transparent;content:"";-webkit-transform:translateY(-50%);transform:translateY(-50%)}
.Fread_census__filing .content .item .wrapper .panel-body{display:none;padding:15px 15px 0}
.Fread_census__filing .content .item .wrapper .panel-body li{overflow:hidden;margin-bottom:15px;text-overflow:ellipsis;white-space:nowrap}
.Fread_census__filing .content .item .wrapper .panel-body li:last-child{margin-bottom:0}
.Fread_census__filing .content .item .wrapper .panel-body li a{color:var(--routine)}
.Fread_census__filing .content .item .wrapper .panel-body li a:hover{color:var(--theme)}
.Fread_census__filing .content .item.load{padding-top:15px}
.Fread_census__filing .content .item.load .head{top:25px;background:var(--theme)}
.Fread_census__filing .content .item.load .button{position:relative;margin-left:30px;padding:0 12px;height:34px;border:none;border-radius:4px;background:var(--theme);color:#fff;font-size:13px}
.Fread_census__filing .content .item.load .button:before{position:absolute;top:50%;left:-8px;width:0;height:0;border-top:8px solid transparent;border-right:8px solid var(--theme);border-bottom:8px solid transparent;content:"";-webkit-transform:translateY(-50%);transform:translateY(-50%)}



/* 壁纸分割 */
.Fread_wallpaper__type{position:relative;margin-bottom:15px;padding:60px 15px 15px;border-radius:var(--radius-wrap);background:var(--background);box-shadow:var(--box-shadow)}
.Fread_wallpaper__type-title{position:absolute;top:15px;left:-10px;padding:0 12px;height:30px;border-radius:2px 2px 2px 0;background:var(--theme);box-shadow:2px 5px 10px rgba(49,58,70,.15);color:#fff;font-weight:500;line-height:30px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.Fread_wallpaper__type-title:before{position:absolute;bottom:-10px;left:-10px;border:10px solid transparent;border-top:10px solid var(--theme);content:"";-webkit-transform:rotate(90deg);transform:rotate(90deg)}
.Fread_wallpaper__type-list{display:grid;padding-top:15px;border-top:1px solid var(--classC);gap:15px;grid-template-columns:repeat(auto-fit,minmax(100px,1fr))}
.Fread_wallpaper__type-list .item{overflow:hidden;padding:0 15px;height:33px;border-radius:var(--radius-inner);background:var(--Fread-mment);color:var(--main);text-align:center;text-overflow:ellipsis;white-space:nowrap;font-size:13px;line-height:33px;cursor:pointer;transition:color .35s,background .35s,box-shadow .35s,-webkit-transform .35s;transition:color .35s,background .35s,box-shadow .35s,transform .35s;transition:color .35s,background .35s,box-shadow .35s,transform .35s,-webkit-transform .35s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.Fread_wallpaper__type-list .item.active,.Fread_wallpaper__type-list .item:hover{background:var(--theme);color:#fff}
.Fread_wallpaper__type-list .error{color:var(--routine);text-align:center;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.Fread_wallpaper__list{display:grid;gap:15px;grid-template-columns:repeat(auto-fill,minmax(190px,1fr))}
.Fread_wallpaper__list .item{position:relative;display:block;overflow:hidden;border-radius:var(--radius-wrap)}
.Fread_wallpaper__list .item img{width:100%;height:100%;-o-object-fit:cover;object-fit:cover}
.Fread_wallpaper__list .item:before{position:absolute;top:0;right:0;bottom:0;left:0;z-index:2;background:0 0;content:"";transition:background .35s}
.Fread_wallpaper__list .item:after{position:absolute;top:50%;left:50%;z-index:3;margin:-25px 0 0 -25px;width:50px;height:50px;background:url(/usr/themes/Fread/assets/img/tm.svg);background-size:100% 100%;background-repeat:no-repeat;content:"";opacity:0;transition:opacity .35s,-webkit-transform .35s;transition:transform .35s,opacity .35s;transition:transform .35s,opacity .35s,-webkit-transform .35s;-webkit-transform:scale(2);transform:scale(2)}
.Fread_wallpaper__list .item:hover:before{background:rgba(0,0,0,.5)}
.Fread_wallpaper__list .item:hover:after{opacity:1;-webkit-transform:scale(1);transform:scale(1)}
.Fread_wallpaper__list:empty{position:relative;display:flex;height:180px;align-items:center;justify-content:center}
.Fread_wallpaper__list:empty:after{display:block;width:70px;height:70px;background:url(/usr/themes/Fread/assets/img/wallpaper.svg);background-size:100% 100%;background-repeat:no-repeat;content:""}
.Fread_wallpaper__pagination{display:flex;padding-top:15px;align-items:center;justify-content:center}
.Fread_wallpaper__pagination-item{margin-left:5px;padding:0 15px;height:32px;border-radius:2px;background:var(--background);color:var(--main);line-height:32px;cursor:pointer;transition:background .35s,color .35s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.Fread_wallpaper__pagination-item:first-child{margin-left:0}
.Fread_wallpaper__pagination-item svg{transition:fill .35s;fill:var(--routine)}
.Fread_wallpaper__pagination-item .next{-webkit-transform:rotate(180deg);transform:rotate(180deg)}
.Fread_wallpaper__pagination-item.active,.Fread_wallpaper__pagination-item:hover{background:var(--theme);color:#fff}
.Fread_wallpaper__pagination-item.active svg,.Fread_wallpaper__pagination-item:hover svg{fill:#fff}



/* qmsj通知 */
.qmsg.qmsg-wrapper{color:#909399;position:fixed;top:16px;left:0;z-index:9999;width:100%;pointer-events:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;line-height:20px}
.qmsg .qmsg-item{padding:8px;text-align:center;-webkit-animation-duration:.35s;animation-duration:.35s;position:relative}
.qmsg .qmsg-item .qmsg-count{position:absolute;left:-4px;top:-4px;background-color:red;color:#fff;font-size:12px;text-align:center;border-radius:2px;min-width:16px;height:16px;line-height:16px;-webkit-animation-duration:.35s;animation-duration:.35s}
.qmsg .qmsg-item:first-child{margin-top:-8px}
.qmsg .qmsg-content{text-align:left;position:relative;display:inline-block;padding:10px 16px;background:#fff;border-radius:4px;box-shadow:0 4px 12px rgba(0,0,0,.15);pointer-events:all;max-width:80%;min-width:80px}
.qmsg .qmsg-content [class^=qmsg-content-]{display:flex;align-items:center}
.qmsg .qmsg-content .qmsg-content-with-close{padding-right:20px}
.qmsg .qmsg-icon{display:flex;align-items:center;margin-right:8px}
.qmsg .qmsg-icon svg{vertical-align:unset;width:20px;height:20px}
.qmsg .qmsg-content-info .qmsg-icon{color:#1890ff}
.qmsg .qmsg-icon-close{position:absolute;top:11px;right:5px;padding:0;overflow:hidden;font-size:12px;line-height:22px;background-color:transparent;border:none;outline:0;cursor:pointer;color:rgba(0,0,0,.45);transition:color .35s}
.qmsg .qmsg-icon-close:hover>svg path{stroke:#555}
.qmsg .animate-turn{-webkit-animation:MessageTurn 1s linear infinite;animation:MessageTurn 1s linear infinite}
@-webkit-keyframes MessageTurn{0%{-webkit-transform:rotate(0)}
25%{-webkit-transform:rotate(90deg)}
50%{-webkit-transform:rotate(180deg)}
75%{-webkit-transform:rotate(270deg)}
100%{-webkit-transform:rotate(360deg)}
}
@keyframes MessageTurn{0%{-webkit-transform:rotate(0)}
25%{-webkit-transform:rotate(90deg)}
50%{-webkit-transform:rotate(180deg)}
75%{-webkit-transform:rotate(270deg)}
100%{-webkit-transform:rotate(360deg)}
}
@-webkit-keyframes MessageMoveOut{0%{max-height:150px;padding:8px;opacity:1}
to{max-height:0;padding:0;opacity:0}
}
@keyframes MessageMoveOut{0%{max-height:150px;padding:8px;opacity:1}
to{max-height:0;padding:0;opacity:0}
}
@-webkit-keyframes MessageMoveIn{0%{-webkit-transform:translateY(-100%);transform:translateY(-100%);-webkit-transform-origin:0 0;transform-origin:0 0;opacity:0}
to{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transform-origin:0 0;transform-origin:0 0;opacity:1}
}
@keyframes MessageMoveIn{0%{-webkit-transform:translateY(-100%);transform:translateY(-100%);-webkit-transform-origin:0 0;transform-origin:0 0;opacity:0}
to{-webkit-transform:translateY(0);transform:translateY(0);-webkit-transform-origin:0 0;transform-origin:0 0;opacity:1}
}
@-webkit-keyframes MessageShake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}
25%,75%{-webkit-transform:translateX(-4px);transform:translateX(-4px);opacity:.75}
50%{-webkit-transform:translateX(4px);transform:translateX(4px);opacity:.25}
}
@keyframes MessageShake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}
25%,75%{-webkit-transform:translateX(-4px);transform:translateX(-4px);opacity:.75}
50%{-webkit-transform:translateX(4px);transform:translateX(4px);opacity:.25}
}

